h2{
  font-size: 22px;
}
h2 small{
  display: block;
  font-size: 12px;
  font-weight: 100;
  color: #5d5d5d;
}
.like-zone{
  background: #e9eaeb;
  font-size: 14px;
  font-weight: bold;
}
.like-zone a{
  text-decoration: none;
  color: darkblue;
  padding: 5px 10px;
  border-radius:5px;
}